{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>Welcome to PocketNotes</title>
	<link rel="stylesheet" href="{% static 'css/getstartedstyle.css' %}"> <!-- Resource style -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"                                                    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYdg4Va+PmSTsz/KG8vbdEjh4u" crossorigin="anonymous">
  <<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>
<body>

 <header id="main-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="left">
            <li><a href="#header">Home</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#team">Team Members</a></li>
            <li><a href="#footer">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <a href="#" class="logo"><img src="../../static/images/logo2.png" alt="Disasto"></a>
        </div>
        <div class="col-md-4">
          <ul class="right">
              <li><a href="{% url 'userlogin' %}" class="help">Login</a></li>
              <li><a href="{% url 'usersignup' %}">Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header><!-- //Main Nav -->


<section id="header">
	<div class="container">
		<div class="row">
      <div class="get boxi">
      <a class="get2" href="{% url 'userlogin' %}">Get Started</a>
    </div>
		</div>
	</div>
</section>

<section id="aboutus">
  <div class="container">
    <div class="row">
      
      <div class='line'>
      </div>
      <div>
        <img class="bookill" src="../../static/images/bookill.jpg">
      </div>
      <div class="abouttext">
        <h2>About Us</h2>
        <p>A library is a collection of sources of information and similar resources, made accessible to a defined community for reference or borrowing.[1] It provides physical or digital access to material, and may be a physical building or room, or a virtual space, or both.</p>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <div class="row">
      <br>
      <div class='line'>
      </div>
      <br>
      <div class="teamem">
        <h2 >Team Members</h2>
         <p class="blah">This Website Was Created As A Project For The ITW-2 Course By :</p>
      </div>
      <div class="baki">
        <ul class="teamicons">
        <li><img class="imgi" src="../../static/images/amit.jpg">helllo</li>
        <li><img class="imgi" src="../../static/images/aditya.jpg">ada</li>
      </ul>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
    <div class="container footer-container">
      <div class="row">
          <div class='line'>
          </div>
          <div>
            <h1 class="footerline">PocketNotes</h1>
            <img class="footerlogo" src="../../static/images/logo.png">
          </div>
          <div class="footerlefy">
          <div class="footerlist1">
            <ul class="footeraboutus">
              <li class="mainy">About Us</li>
              <li class="footerele">About Us</li>
              <li class="footerele">Features</li>
            </ul>
          </div>
          <div class="footerlist2">
            <ul class="footercontact">
              <li class="mainy">Contact Us</li>
              <li class="footerele">Conatct Us</li>
              <li class="footerele">Phone</li>
              <li class="footerele">E-mail</li>
            </ul>
          </div>
          </div>
      </div>
    </div>

    <div class="container copyright-container">
      <div class="row">
        <div >
          <div class="made-by">Made with Love by <a href="#" target="_blank"><img class="vart" src="../../static/images/av.png" alt=""></a></div>
        </div>
      </div>
    </div>
</footer>
</body>
</html>
